body {
    font-family: sans-serif;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    /* Add transition for smooth theme change */
}

.container {
    max-width: 620px;
    margin: 0 auto;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

h1 {
    margin-top: 20px;
    font-size: 2.2em;
    font-weight: 800;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 20%;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    width: 100%;
    border: none;
    background-color: #3498db;
    color: black;
    cursor: pointer;
    border-radius: 4px;
    border-bottom: 1px solid rgba(15, 17, 17, 0.25);
    font-family: sans-serif;
}

a {
    color: #3498db;
    text-decoration: none;
}

button:hover {
    background-color: #2980b9;
}

#brown {
    background-color: #c1b3a8;
}

#pink {
    background-color: #FFD1DC;
}

#white {
    background-color: #F3F8FF;
}

#stop {
    background-color: #FFA8A8;
    margin-top: 48px;
}

footer {
    color: grey;
}

#timer {
    margin-bottom: 15px;
    font-size: 1.2em;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
}

#timer.active {
    background-color: #FFA8A8;
    color: white;
}

@media only screen and (max-width: 600px) {
    button {
        /* font-size: 14px; */
    }
}