:root {
    --white: #f0f0f0;
    --light-grey: #e4e4e4;
    --black: #111111;
    --dark-grey: #272727;
    --bg: var(--white);
    --txt: var(--black);
    --dark-opacity: 0;
    --light-opacity: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {*/
/*    body {*/
/*        --bg: var(--white);*/
/*        --txt: var(--black);*/
/*    }*/
/*}*/
/*@media (prefers-color-scheme: dark) {*/
/*    body {*/
/*        --bg: var(--black);*/
/*        --txt: var(--white);*/
/*    }*/
/*}*/

body {
    font-family: sans-serif;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--bg);
    color: var(--txt);
}

body:has(.checkbox:checked) {
    --bg: var(--black);
    --txt: var(--white);
    --dark-opacity: 1;
    --light-opacity: 0;
}

.toggle {
    margin-top: 1rem;
    margin-left: 1rem;
}

.checkbox:checked + .label .ball {
    transform: translateX(1.5rem);
}

.checkbox {
    display: none;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--txt);
    border-radius: 5rem;
    padding: 0.25rem;
    height: 1.5rem;
    width: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1;
    transition: background 0.5s ease;
    position: relative;
}

.label .ball {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    height: 1rem;
    width: 1rem;
    background: var(--bg);
    border-radius: 50%;
    transform: translateX(0);
    transition: transform 0.3s ease, background 0.5s ease;
}

.container {
    max-width: 620px;
    margin: 0 auto;
}

h1 {
    margin-top: 20px;
    font-size: 2.2em;
    font-weight: 800;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 20%;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    width: 100%;
    border: none;
    background-color: #3498db;
    color: black;
    cursor: pointer;
    border-radius: 4px;
    border-bottom: 1px solid rgba(15, 17, 17, 0.25);
    font-family: sans-serif;
}

a {
    color: #3498db;
    text-decoration: none;
}

button:hover {
    background-color: #2980b9;
}

#brown {
    background-color: #c1b3a8;
}

#pink {
    background-color: #FFD1DC;
}

#white {
    background-color: #F3F8FF;
}

#stop {
    background-color: #FFA8A8;
    margin-top: 48px;
}

footer {
    color: grey;
}

#timer {
    margin-bottom: 15px;
    font-size: 1.2em;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
}

#timer.active {
    background-color: #FFA8A8;
    color: white;
}

@media only screen and (max-width: 600px) {
    button {
        /* font-size: 14px; */
    }
}